

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 25%));
  gap: 25px;
  max-width: 70%; /* Limite la largeur totale de la grille */
  margin: auto; /* Centre la grille */
}

.color-grid-item {
  aspect-ratio: 3 / 2; /* Carré */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  
  cursor: pointer;
}

.color-box {
  display: flex;
  flex-direction: column;       /* disposition verticale */
  align-items: center;          /* centre les items horizontalement */
  justify-content: center;      /* centre les items verticalement (si hauteur suffisante) */
  margin: 0 auto;               /* centre le conteneur lui-même */
  padding: 40px;
}

.color-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #000 2px solid;
}
.color-gridshow-text {
  width: 100%;
}

.gid-box:hover .color-grid-item {
  transform: scale(0.90);
}
