.image-gridshow {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 25%));
  justify-content: center;
  gap: 20px;
  min-width: 100%;
}

/* Conteneur de chaque image + texte */
.gid-box {
  min-width: 105px;
}

.image-gridshow-item {
  position: relative;
  aspect-ratio: 1 / 1; /* défaut: carré */
  overflow: hidden;
  box-shadow: #00000056 0px 0px 10px 0px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.image-gridshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  object-position: center;
}

.image-gridshow-text {
  font-size: 18px;
}

.gid-box:hover .image-gridshow-item {
  transform: scale(0.90);
}

.gridshow_caption {
  gap: 10px;
  text-align: center;
}



/* ------------------ RESPONSIVE DESIGN ------------------ */
/* ------------------ Mobile ------------------ */
/* Mobile - écrans moyens */
@media screen and (max-width: 768px) {
  .image-gridshow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 40px;
    min-width: 100%;
  }


}